*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Arial;
background:#001b36;
color:white;
}

.ocean{
min-height:100vh;
background:
linear-gradient(#004b80aa,#001020),
url("ocean.jpg");
background-size:cover;
padding:20px;
}


.top{
display:flex;
justify-content:space-between;
align-items:center;
}

.top button{
width:60px;
height:60px;
border-radius:50%;
font-size:25px;
background:#008cff55;
border:1px solid #55dfff;
color:white;
}


h1{
font-size:42px;
text-shadow:0 0 15px cyan;
}


.points{
text-align:center;
font-size:45px;
font-weight:bold;
margin:20px;
}


.fish-area{
height:380px;
display:flex;
align-items:center;
justify-content:center;
}


#fish{
width:330px;
filter:drop-shadow(0 0 20px #00ffff);
}


.tap{
display:block;
margin:auto;
width:300px;
height:110px;
border-radius:60px;
font-size:45px;
font-weight:bold;
color:white;
background:#009dff88;
border:3px solid #50eaff;
box-shadow:0 0 30px cyan;
}


.gain{
text-align:center;
font-size:25px;
margin:20px;
}


.energy{
display:flex;
align-items:center;
gap:15px;
padding:20px;
border-radius:40px;
background:#00395caa;
font-size:25px;
}


.bar{
flex:1;
height:20px;
background:#002040;
border-radius:20px;
overflow:hidden;
}


.fill{
width:100%;
height:100%;
background:#00cfff;
}


.menu{
display:flex;
justify-content:space-around;
margin-top:25px;
}


.menu button{
width:90px;
height:90px;
border-radius:20px;
background:#00558aaa;
border:1px solid cyan;
color:white;
font-size:16px;
}
